{% extends 'release_notes/base.html' %}

{% load release_notes %}


{% block release_notes_body_header %}
	<div class="text-center m-t-lg m-b-lg">
		<h1 class="font-light">Release Notes</h1>
		{% if page_description %}
			<p>{{ page_description }}</p>
		{% endif %}
	</div>
{% endblock %}

{% block release_notes_body %}
	<div class="container">
		<div class="row justify-content-center mt-5">
			<div class="col">
				{% for release_note in release_notes %}
					<div class="row justify-content-center">
						<div class="col">
                            <div class="position-relative">
                                <p class="font-light d-inline-block mb-0" style="font-size: 24px;">
                                    <i class="bi bi-{{ release_note.client.icon }}"></i>
                                    {{ release_note.client.name }}
                                    {% if release_note.version %} &middot; Version: {{ release_note.version }}{% endif %}
                                </p>
                                {% if forloop.first %}
                                    <span class="badge bg-primary position-absolute top-0">Latest</span>
                                {% endif %}
                            </div>
                            <small>Released {{ release_note.release_date }}</small>
                            <div class="mt-2 ms-4">
                                {{ release_note.notes|from_markdown }}
                            </div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}